table {
    border: hidden;
    color: white;
    border-collapse: collapse;
    background-color: blue;
    width: 70%;
}
#keso {
    background-color: red;
}
table {
    width: 70%;
}
.egy, .ot, .harom {
    background-color: cornflowerblue;
}
tbody :hover {
    background-color: blueviolet;
}