table {
    color: white;
    border-collapse: collapse;
    background-color: cornflowerblue;
    width: 70%;
    text-align: center;
    width: 70%;
}
#keso {
    background-color: red;
}
 .ot, .harom {
    background-color: blue;
}
tbody :hover {
    background-color: blueviolet;
}
th{
    background-color: blue;
}
body {
    background-color: grey;
}
a {
    background-color: cornflowerblue;
    border: solid;
    border-width: 1px;
}
a:visited {
    color: plum;
}
a:hover{
    color: white;
}