table {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-collapse: collapse;
    background-color: greenyellow;
    width: 70%;
}
th {
    background-color: rgb(111, 179, 10);
}
#red   /* a keső vonat cellája */{
    border: 1px solid;
    background-color: red;
}
.elso_sor{
    background-color: lightgreen;
}
.harmadik_sor{
    background-color: lightgreen;
}
.otodik_sor{
    background-color: lightgreen;
}
tbody :hover {
    background-color: aquamarine;
}
